body {
  text-align: center;
  margin-top: 3rem;
}

.c-chart-gauge__needle-base, .c-chart-gauge__needle {
  fill: #555555;
}

.c-chart-gauge__gradient-stop1 {
  stop-color: red;
}

.c-chart-gauge__gradient-stop2 {
  stop-color: orange;
}

.c-chart-gauge__gradient-stop3 {
  stop-color: orange;
}

.c-chart-gauge__gradient-stop4 {
  stop-color: green;
}
